colorlog==6.9.0
pydantic_core==2.33.2
lightgbm==4.6.0
alembic==1.16.4
typing_extensions==4.14.1
tzdata==2025.2
typing-inspection==0.4.1
gitdb==4.0.12
cloudpickle==3.1.1
protobuf==6.31.1
llvmlite==0.44.0
click==8.2.1
threadpoolctl==3.6.0
greenlet==3.2.3
smmap==5.0.2
scipy==1.16.1
GitPython==3.1.45
annotated-types==0.7.0
numpy==2.2.6
slicer==0.0.8
matplotlib==3.10.5
joblib==1.5.1
SQLAlchemy==2.0.42
scikit-learn==1.7.1
optuna==4.4.0
wandb==0.21.0
shap==0.48.0
fonttools==4.59.0
contourpy==1.3.3
numba==0.61.2
kiwisolver==1.4.8
tqdm==4.67.1
xgboost==3.0.3
sentry-sdk==2.34.1
packaging==25.0
nvidia-nccl-cu12==2.27.6
platformdirs==4.3.8
pydantic==2.11.7
cycler==0.12.1
pandas==2.3.1
httplib2==0.20.4
blinker==1.5
PyYAML==6.0
fasteners==0.17.3
certifi==2022.9.24
dbus-python==1.3.2
pexpect==4.8.0
six==1.16.0
invoke==2.0.0
pycurl==7.45.2
psutil==5.9.4
tinycss2==1.2.1
cryptography==38.0.4
cryptography==38.0.4
distro-info==1.5+deb12u1
python-debianbts==4.0.1
idna==3.3
xlrd==1.2.0
reportbug==12.0.0
Pillow==9.4.0
bcrypt==3.2.2
pytz==2022.7.1
olefile==0.46
Mako==1.2.4.dev0
ptyprocess==0.7.0
python-xlib==0.33
distro==1.8.0
xdg==5
python-pam==2.0.2
chardet==5.1.0
louis==3.24.0
setproctitle==1.3.1
cupshelpers==1.0
pip==23.0.1
tinycss==0.4
wheel==0.38.4
monotonic==1.6
paramiko==2.12.0
pyxdg==0.28
charset-normalizer==3.0.1
pycairo==1.20.1
lazr.restfulclient==0.14.5
MarkupSafe==2.1.2
PyNaCl==1.5.0
urllib3==1.26.12
Brlapi==0.8.4
duplicity==0.8.22
PySimpleSOAP==1.16.2
pycups==2.0.1
webencodings==0.5.1
setuptools==66.1.1
requests==2.28.1
PyJWT==2.6.0
python-apt==2.6.0
future==0.18.2
pysmbc==1.0.23
python-dateutil==2.8.2
lockfile==0.12.2
python-debian==0.1.49
pyinotify==0.9.6
pyparsing==3.0.9
oauthlib==3.2.2
lazr.uri==1.0.6
wadllib==1.3.6
PyGObject==3.42.2
